body{
    font-family: "Open Sans", sans-serif;
    color: #F9F5EB;
    background-color:#06283D ;
    margin: 0px;
    z-index: -1;
}

.section__padding {
  padding: 4rem 6rem ;
}

h1,
h2,
h3,
h4{
    font-family:"Raleway", sans-serif;
}
p{
    font-weight: 500;
    font-size: 16px;
    color: #F9F5EB;
    font-family: "Raleway", sans-serif;
    line-height: 1.7;
  }
  section {
    padding: 5px 2px;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    letter-spacing: 0.07rem;
   
    color:  #F9F5EB; 
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 20px;
    position: relative;
    color:#F9F5EB;
  }
  .bar {
    height: 5px;
    width: 9rem;
    margin: auto;
    margin-bottom: 3rem;
    background: linear-gradient(to right, #626161, #e8f5e8, #45505b);
  }
/* navbar */
.nav-title{
    margin-left: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    
}
.nav-items{
    margin-right: 25px;
    font-family:"Raleway", sans-serif;
    font-weight: 500;
}
.nav-item  .nav-link:hover{
  background-color: #BDCDD6;
  color:#F9F5EB;
  
}
@media screen and (max-width: 600px){
   .nav-link{
    background-color: #BDCDD6;
    color:#F9F5EB;
    
  }
}
/* Home */
.home{
  height: 350px;
  margin: 20px 20px 0 20px;
}
.image{
    position: auto;
    display: inline-block; 
    width: 200px;
    height: 200px;
}

 .my_pic{
 
    margin: 50px 180px;
    width: 100%;
    height: auto;
    border: solid 3px;
    border-radius: 15%;
    /* border-color:  blue ; */
}

.name{
    display: inline-block;
    position: absolute;
    margin-left: 250px;
    margin-top: 200px;
}
/* typing effect */
#typing-effect {
    border-right: 0.1em solid #000; /* create the blinking cursor */
    font-family: monospace; /* use a monospace font for a typewriter look */
    white-space: nowrap; /* prevent the text from wrapping */
    overflow: hidden; /* hide the overflow of the text */
  }
  @media screen and (max-width: 900px){
    .home{
      height: 500px;
    }
    p{
        font-size: 12px;
    }
    .name{
        display: block;
        position: absolute;
    
        margin-left: 10px;
        margin-top: -200px;
    }
     .image .my_pic {
        margin-top: 150px ;
        margin-left: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        width: 220px;
        height: auto;
        
    }
  }

   /* About */
   #about{
    margin: 60px 100px;
  }
  .about, .more-about{
    margin: 0 10%;
    font-weight: 500;
    font-size: 16px;
    color: #F0ECE2 ;
    font-family: "Raleway", sans-serif;
    text-align: justify;
  }
 
  .more-about {
    display: none;
    
}
.more-about--visible {
    display: block;
    margin-bottom: 50px;
  }
.showMore{
  background-color: #06283D;
  color: #e8f5e8;
  border: 0;
  background: none;
  box-shadow: none;
}
  @media screen and (max-width: 600px){
    #about{
        
        margin: 20px 10px;
      }
      p.about, p.more-about{
        font-size: 12px;
      }
  }
  
  
  
  
  
 /* Resume */
 #resume-btn {
  
    display:flex;
    justify-content: center;
    
    
    background-color: #06283D;
    color: #BDCDD6;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    
    margin: 3Rem 6rem;
    border: 3px solid;
  }
  .resume-btn{
    margin-top: 20px;
    height: 50px;
  }
  
  #resume-btn:hover {
    background-color: #BDCDD6;
    color:#06283D;
    font-size: 1.4em;
  }
  @media screen and (max-width: 600px){
    #resume-btn{
       
    }
  }

  /* END About */

  /* Skills */

  /* .section__padding {
    padding: 4rem 6rem ;
  } */
  
  /* // card */
  .skillCard {
    height: 40px;
    margin-bottom: 1rem;
  }
  .skillCard p{
    /*font-family: var(--font-family); */
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
  
    text-align: center;
   
  }
  
  /* // Skill */
  
  .skills {
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-gap: 10px;
   
    background-color: #06283D ;
  }
  
  .skills-title {
    grid-row: 1;
    text-align: center;
  }
  
  .skills-title h1 {
    /* font-family: var(--font-family); */
    font-weight: 800;
    color: #fff;
    font-size: 50px;
    line-height: 70.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  
    margin-bottom: 3rem;
  }
  
  
  .skills-content {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .skills-icons {
    flex: 1 1 1 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* margin-top: 1.5rem; */
  }
  
  .skills-icons_title{
    font-weight: 600;
    color: #eef7ff;
    font-size: 20px;
    line-height: 30.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;

    margin-top: 1rem;
  }

  .skills-line {
    height: 3px;
    width: 7rem;
    background-color: #FFF;
    margin-bottom: 1rem ;
  }

    
  .i_skill {
    font-size: 40px;
  }
  @media screen and (max-width: 450px) {
    .skills-title h1{
      font-size: 36px;
      line-height: 46.2px;
      
    }
  }

  /* END Skills */


 /* Portfolio */
 .card-container {
  width: 450px;
  height: 800px;
}

.p_text {
  font-size: 14px;
}







/* .p-media{
  text-align: justify;
  padding:0 10%;
} */
/* .portfolio_padding {
  padding: 10px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.h4_portfolio {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #F0ECE2;
}
.p_portfolio {
  width: 400px;
  margin: 0 auto;
  text-align: justify;
  font-size: 14px;
  color: #F0ECE2;
}
p.toggle {
  display: none;
}
p.toggle.visible {
  display: block;
}
.portfolio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 2%;
  width: 48%;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #F0ECE2;
  font-family: "Raleway", sans-serif;
  text-align: justify; */
  /* Add text-center class to center the image */
  /* text-center: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; add this line */
/* }

.portfolio-item {
  margin: 15px;
  flex-basis: 40%; add this line
  max-width: 40%; add this line
/* } */
/* .img-port {
  max-width: 80%;
  height: auto;
  border: 3px solid;
  border-radius: 3%;
  display: block;
  margin: 0 auto;
} */
/* @media screen and (max-width: 900px) {
  .portfolio_padding {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .h4_portfolio {
    width: 100%;
    margin-bottom: 10px;
  }
  .p_portfolio {
    width: 80%;
  } */
/*  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; add this line */ */
  /* }

  .portfolio-item {
    margin: 15px;
    flex-basis: 80%; change this line from 40% to 80%
    max-width: 80%; change this line from 40% to 80% */
  /* }
  .img-port{
    width: 100%;
    height: auto;
  } */
  
  /* Add styles to move portfolio-links below h4_portfolio */
  /* .portfolio-links {
    order: 3;
    margin-top: 10px;
  }
} */
/* END portfolio */

  /* Contact */
  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact_center{
    margin: 20px 100px;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #0563bb;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #0563bb;
    color: #BDCDD6;
  }
  
  .contact-links{
   
    margin-left: 10px;
  }
  .emailme{
    margin-top: -25px;
    padding-left: 80px;
  }
  .blocks{
    width: 400px;
    padding-left: 200px;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @media screen and (max-width: 600px){
    .info-box{
        margin-left: -300px;
        margin-bottom:10px ;
    }
    .emailme{
        margin-left: -180px;
    }
    .contact-links{
        margin-left: 50px;
    }
    .envelop{
        margin-left: 50px;
    }
    
   
  }


  /* END Contact */

  /* Footer */

  #footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }

  /* END Footer */
  /* Last adjustment to NAV */
  .navbar-nav .nav-link{
    
    color: #45505b !important;
}
.navbar-brand{
    margin-left: 20px;
    color: #45505b !important;
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-size: 24px;
}
.nav-link{
    color: #45505b;
    margin-right: 25px;
    font-family:"Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
}      

  @media only screen and (max-width: 600px) {
    .navbar-brand {
        margin-right: auto;
        margin-left: 10px;
    }
    .navbar-nav {
        margin-left: auto;
    }
    .navbar-nav .nav-link{
    
        color: #45505b !important;
} 
.nav-title{
    margin-left: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    
}
.nav-items{
    margin-right: 25px;
    font-family:"Raleway", sans-serif;
    font-weight: 500;
}

  }  

 /* contact */

 .contact {
  display: grid;
  grid-template-rows: auto 1fr; 
  grid-gap: 10px;
 
  background-color: #fff;
}

.contact-title {
 grid-row: 1;
 text-align: center;
}

.contact-title h1{
  font-family: var(--font-family);
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 70.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  margin-bottom: 3rem;
}

.contact-content {
  grid-row: 2;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
} 

.contact-card {
  flex: 1;
  width: 33%;

}

@media screen and (max-width: 1150px) {
  .contact-content {
    flex-direction: column;
  } 

  .contact-card {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .contact-content {
    margin-bottom: 2rem;
  } 
}



@media screen and (max-width: 450px) {
  .contact-title h1{
    font-size: 36px;
    line-height: 46.2px;
    
  }
}
/* card contact */

.card{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  padding: 2rem ;
  
  border-radius:  0.125rem;
  box-shadow: 1px 4px 4px 2px grey;
  cursor: pointer;
  background-color: #FFF;
}


.card:hover{
  box-shadow: 0.2px 2px 2px 2px #1d4ed8;
  border: 1px solid #1d4ed8;
  
}

.card-contact {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

.card p {

font-family: var(--font-family);
color: var(--color-text__dkgrey);
font-weight: 600;
letter-spacing: 0.05em;
text-transform: capitalize;
font-size: 16px;
line-height: 26px;
text-align: justify;
margin-left: 0.85rem;
}



h3 {
  font-family: var(--font-family);
  color: var(--color-text__dkgrey);
  font-weight: 400;
  letter-spacing: 0.09em;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  
  margin-top: 2rem;
  margin-left: 10%;
}

.i_contact {
  font-size: 20px;
  color :var(--color-blue__icon);
}

@media screen and (max-width: 1150px) {
  h3{
      text-align: center;
      font-size: 18px;
      line-height: 28px;
  }

  .card-contact {
      justify-content: center;
  }

  .card p {
      font-size: 18px;
      line-height: 28px;
  }

  i {
      font-size: 28px;
  }
}