body{
    font-family: "Open Sans", sans-serif;
    color: #272829;
    background-color:#BDCDD6 ;
    margin: 0px;
    z-index: -1;
}
h1,
h2,
h3,
h4{
    font-family:"Raleway", sans-serif;
}
p{
    font-weight: 500;
    font-size: 16px;
    color: #45505b;
    font-family: "Raleway", sans-serif;
  }
  section {
    padding: 5px 2px;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
    color: grey;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
/* navbar */
.nav-title{
    margin-left: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    
}
.nav-items{
    margin-right: 25px;
    font-family:"Raleway", sans-serif;
    font-weight: 500;
}

/* Home */
.image{
    position: relative;
    display: inline-block; 
}

.my_pic{
    position: relative;
    display: inline-block;
    margin: 50px 150px;
    width: 280px;
    height: 350px;
    border: solid 3px;
    border-radius: 15%;
    border-color:  blue ;
}

.name{
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    margin-top: 300px;
}
/* typing effect */
#typing-effect {
    border-right: 0.1em solid #000; /* create the blinking cursor */
    font-family: monospace; /* use a monospace font for a typewriter look */
    white-space: nowrap; /* prevent the text from wrapping */
    overflow: hidden; /* hide the overflow of the text */
  }
  @media screen and (max-width: 600px){
    p{
        font-size: 12px;
    }
    .name{
        display: block;
        position: absolute;
        margin-left: 20px;
        margin-top: -420px;
    }
    .my_pic {
        position: relative;
        display: inline-block;
        margin: 80px 30px 0;
        width: 300px;
        height: 350px;
        
    }
  }

   /* About */
   #about{
    margin: 60px 100px;
  }
  .about, .more-about{
    margin: 0 10%;
    font-weight: 500;
    font-size: 16px;
    color: #45505b;
    font-family: "Raleway", sans-serif;
    text-align: justify;
  }
 
  .more-about {
    display: none;
    
}
.more-about--visible {
    display: block;
    margin-bottom: 50px;
  }
  
  @media screen and (max-width: 600px){
    #about{
        
        margin: 20px 10px;
      }
      p.about, p.more-about{
        font-size: 12px;
      }
  }
  
  
  
  
  
 /* Resume */
 #resume-btn {
    background-color: #BDCDD6;
    color: #45505b;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 420px;
    margin-bottom: 50px;
    border: 3px solid;
  }
  
  #resume-btn:hover {
    background-color: #0062cc;
  }
  @media screen and (max-width: 600px){
    #resume-btn{
        margin: 40px ;
        margin-left: 80px;
    }
  }

  /* END About */

  /* Skills */
 
  
  .ball {
    animation: float 3.5s ease-in-out infinite;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
  
    background: radial-gradient(
      circle at 75% 30%,
      white 5px,
      aqua 8%,
      darkblue 60%,
      aqua 100%
    );
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
      inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
      inset 0 50px 140px #fde9ea, 0 0 90px #fff;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-80px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  .shadow {
    background: #b490b2;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
  }
  @keyframes expand {
    0%,
    100% {
      transform: scale(0.5);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  @media only screen and (max-width: 500px) {
    .ball {
      animation: float 4.5s ease-in-out infinite;
      height: 30px;
      width: 30px;
      margin: 15px;
  
      background: radial-gradient(
        circle at 65% 35%,
        white 5px,
        aqua 15%,
        darkblue 50%,
        aqua 100%
      );
      box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
        inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
        inset 0 20px 110px #fde9ea, 0 0 90px #fff;
    }
    .shadow {
      width: 90px;
      height: 20px;
      top: 78%;
      animation: expand 5s infinite;
    }
  
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-50px);
      }
      100% {
        transform: translatey(0px);
      }
    }
  }
  @media screen and (max-width: 600px){
    .med{
        /* display: inline-block; */
        /* margin: 40%;  */
        /* margin-left: -200px; */
    }
    .ball_img{
        display: inline-block;
        width: 25px;
        height: 25px;        
    }
    /* .w-skill{
        display: inline-block;
        margin: 20px;
        width: 300px;
        height: 120px;
    } */
    .skills .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

      }
      
      .skills .col-lg-3 {
        width: 20%;
        margin-left: -20px;
        
      }
      
      .skills .col-lg-4 {
        width: 33.33%;
      }
      .skills{
        margin-right: -80px;
        margin-top: 10px;
      }
      .postgres{
        /* margin-right: 10px; */
      }
      .col-lg-4{
        margin-left: -20px;
      }
    }
    

  /* .ball {
    animation: float 3.5s ease-in-out infinite;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    margin-top: 30px;
  
    background: radial-gradient(
      circle at 75% 30%,
      white 5px,
      aqua 8%,
      darkblue 60%,
      aqua 100%
    );
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
      inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
      inset 0 50px 140px #fde9ea, 0 0 90px #fff;
  } */
  .skill_img{
    width: 50%;
    height: 50%;
  }
  .dj{
    max-width: 80%;
  }
  .skills{
    margin-left: 100px;
    margin-top: 20px;
  }
  .postgres{
    margin-left: 150px;
  }


  /* END Skills */

  /* Portfolio */

  .portfolio_marging{
    margin-left: 150px;
  }
  .portfolio_padding{
    padding: 10px 150px;
  }
  
  .h4_portfolio{
    margin-left: -150px;
    width: 400px;
    text-align: center;
    color: #45505b;
  }
  .p_portfolio {
    
    margin-left: -150px;
    width: 400px;
    text-align: justify;
    font-size: 14px;
    color: darkslategray;
  }
  p.toggle {
    display: none;
  }
  p.toggle.visible {
    display: block;
  }
  .img-port{
    width: 350px;
    height: 200px;
    border: #45505b 3px solid;
  }
  .port{
    margin: 0 10%;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #45505b;
    font-family: "Raleway", sans-serif;
    text-align: justify;
  }
  @media screen and (max-width: 600px){
    .p-media{
        margin: 0 20px;
        text-align: justify;
    }
    .portfolio-item{
        margin-left: -20px;
    }
    .img-port{
        width: 280px;
        height: 120px;
        /* justify-content: center; */
        margin-left:15%; 
    } 
    .portfolio-links{
        width: 80px;
    }
  }

  

  